[Desktop Entry]
Name=LavArtemis
Comment=Stream games and other applications from another PC running Apollo, Sunshine or GeForce Experience
Exec=lavartemis
Icon=lavartemis
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=nvidia;gamestream;stream;apollo;sunshine;remote play;
